* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
}

body {
    width: 100%;
    height: 100vh;
    color: #272838;
    background-color: #F9F8F8;
}

#card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 60px 80px;
    margin: 20px 50px;
}

h1 {
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

input {
    padding: 9px;
    font-size: 12px;
    margin: 40px;
    border-radius: 3px;
    border: 1px solid #272838;
    width: 30%;
}

button {
    border-radius: 3px;
        border: none;
        padding: 8px;
        background-color: #272838;
        color: #F9F8F8;
}

#transition {
    animation: changeBg 10s linear infinite;
    font-size: 100px;
    margin-top: 40px;
    width:fit-content;
    border-radius: 5px;
}

p {
    align-items: center;
    color: #F9F8F8;
}

@keyframes changeBg {
    20% {
        background-color: #66CACC;
    }
    40% {
         background-color: #3E98BB;
    }
    50% {
        background-color: #443FBD;
    }
    60% {
        background-color: #7342C0;
    }
    70% {
        background-color: #BE3F7C;
    }
    80% {
        background-color: #A4B3E1;
    }
}

.gradient {
    -webkit-animation: bgcolor 10s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}